body {
    background-color: white;
}

main {
    background-color: #eeeeee;
    font-family: sans-serif;
    margin: 30px 2px;

}

h1 {
    font-size: 37px;
    text-align: center;
    padding: 50px 0 5px 0;
    color: #333333;

}

.title-description {
    text-align: center;
    color: #333333;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#img-div {
    background-color: white;
    padding: 10px;
    margin: 15px;
}

figcaption {
    text-align: center;
    padding: 10px 0;
}

#tribute-info h3 {
    text-align: center;
    padding: 40px 0;
}

#tribute-info li {
    margin: 30px 190px;
    color: #333333;
    font-size: 16px;
}

.quote {
    margin: 30px 220px;
    font-style: italic;


}

#additional-info {
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
}

#additional-info a {
    color: #477CA7;
}